# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Technical-University-of-Varna\Year-2\Semester-1\Object-Oriented-Programming-Part-01\Homework\Homework-04\solutions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
